*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
#golden-ratio{
    width: 100%;
    height: 100vh;
    background-color: black;
    object-fit: cover;
}
.golden-ratio .calculator{
    display: flex;
    flex-direction: column;
}